<mat-form-field appearance="fill">
  <mat-label>Pizzas</mat-label>
  <mat-select
    [formControl]="toppings"
    multiple
    #opts
    (openedChange)="searchCtrl.setValue('')"
  >
    <div class="checkbox-container">
      <mat-checkbox
        color="primary"
        [checked]="selected(opts) === 'all'"
        [indeterminate]="selected(opts) === 'some'"
        (change)="toggleSelection(opts)"
        [matTooltip]="selected(opts) === 'all' ? 'Deseleccionar todo' : 'Seleccionar todo'"
        matTooltipPosition="above"
      >
      </mat-checkbox>

      <mat-form-field class="search-input" appearance="outline">
        <input
          matInput
          #input
          placeholder="Buscar pizzas"
          [formControl]="searchCtrl"
          (keydown)="onKeydown($event, input)"
        />
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <div class="options">
      <div *ngIf="searchCtrl.value && !opts.options.length" class="no-data">
        No se han encontrado resultados para "{{ searchCtrl.value }}"
      </div>

      <mat-option
        *ngFor="let topping of filteredToppings | async"
        [value]="topping.id"
        (onSelectionChange)="onSelectionChange($event)"
        >{{ topping.name }}</mat-option
      >
    </div>
  </mat-select>
</mat-form-field>
