// mat-form-field,
// app-search-input {
//     width: 100%;
// }

.mat-checkbox {
    margin-right: 8;
}

.checkbox-container {
  height: 44px;
  margin: 0 10px 0 6px;
  display: flex;
}

.options {
  max-height: 211px;
  overflow: auto;
}

.no-data {
  text-align: center;
  padding: 20px;
  font-size: 13px;
  opacity: 0.75;
  font-weight: 500;
}

.search-input ::ng-deep .mat-mdc-text-field-wrapper {
    height: 38px !important;
  }

.search-input ::ng-deep .mat-mdc-form-field-infix {
    padding: 8px 0 !important;
  }
  